body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header .logo{
  text-transform: uppercase;
  width: 300px;
  font-size: 20px;
  padding: 20px;
}

header nav{
  width: 50%;
}

header nav ul{
  display: flex;
  justify-content:flex-start;
  align-items:stretch;
}

header nav ul li{
  list-style: none;
  background-color: silver;
  padding: 10px 30px;
  margin-right: 5px;
}

/* Home / Products */

.products{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 300px;
  margin: 10px;
}

.product div{
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}

.product div:last-child{
  padding: 10px 0;
  border-bottom: none;
}

.product .thumb{
  width: 100%;
  text-align: center;
}

.product img {
  width: auto;
  height: 150px;
  display: inline-block;
}

/* Categories */
.categories{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.category{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 300px;
  margin: 10px;
}

.category div{
  padding: 10px 0;
}

.category .title{
  text-transform: capitalize;
  font-size: 24px;
  padding: 20px 0;
}

.category-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.product.preview{
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  border: none;
  margin: 5px;
}

.product.preview div{
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
  font-size:13px;
}

.product.preview div:last-child{
  padding: 5px 0;
  border-bottom: none;
}

.product.preview .thumb{
  width: 100%;
  text-align: center;
  height: 100px;
}

.product.preview img {
  width: auto;
  max-width: 90px;
  height: 80px;
  display: inline-block;
}
